<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="../css/blog.css">
    <link rel="stylesheet" href="../css/profile.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <title>Blog See</title>
</head>
<body>
    <nav class="nav">
        <div class="logo">
            <p>Blogs</p>
        </div>

        <div class="leftNav">
            <div class="profileImage">
                <img src="../images/profileImage/<%= user.profileImage %>" alt="<%= user.username %>" class="img">
            </div>
        </div>

    </nav>

    
    <main class="blogSee">
        <div class="mainBlogSee">
            <div class="blogCover">
                <div class="blogTitle">
                    <p>Title: &nbsp; <%= blogData.title.split("_").join(" ") %> </p>
                </div>
                <div class="blogDesc">
                    <%- blogDesc %>
                </div>
            </div>
            <div class="blogConfig">
                <div class="blogViews">
                    <% if(blogViews > 10000000) { %>
                        <p> Views: <%= blogViews/1000000 %>M </p>
                    <% } else if(blogViews > 100000 ){ %>
                        <p> Views: <%= blogViews/100000 %>Lakh </p>
                    <% } else if (blogViews > 1000) { %>
                        <p> Views: <%= blogViews/1000 %>K </p>
                    <% } else { %>
                            <p> Views: <%= blogViews %> </p>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="comment">
            
            <% if(isLoggedIn) { %>
                <div class="addComment">
                    <div class="commentHead">
                        Add Comment
                    </div>
                    <form action="/profile/<%= user.username %>/blogs/<%= blogData.title %>/comment" method="post" class="commentForm">
                        <textarea type="text" name="comment" id="comment" required></textarea>
                        <button type="submit" class="btn">Submit</button>
                    </form>
                </div>
            <% } %>
            <div class="commentCont">
                <h1>Comments -- (<%= comment.length %>)</h1>
                <% comment.forEach((comm) => { %>
                    <div class="commentCard">
                        <div class="userInfo">
                            <img src="../images/profileImage/<%= user.profileImage %>" alt="<%= user.username %>" class="img">
                            <p class="username">
                                <pre><%= comm.name %></pre>
                            </p>
                        </div>
                        <div class="commentDesc">
                            <%= comm.comment %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </main>
</body>
</html>