<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/home.css">
    <title>Home -- blogs</title>
</head>

<body>
    <nav class="nav">
        <div class="logo">
            <p>Blogs</p>
        </div>

        <div class="leftNav">
            <div class="icons">
                <a href="/profile/<%= user.username %>/blogs"><i class="ri-edit-2-line" id="write"></i></a>
                <i class="ri-notification-2-line" id="notification"></i>
            </div>
            <div class="profileImage">
                <img src="../images/profileImage/<%= user.profileImage %>" alt="<%= user.username %>" class="img">
            </div>
        </div>
    </nav>

    <main class="home">
        <div class="allBlogs">
            <% blog.forEach((b) => { %>
                <div class="blog">
                    <div class="createdBy">
                        <img src="../images/profileImage/<%= b.createdBy.profileImage %>" alt="HUziafa" class="img">
                        <div class="username"><%= b.createdBy.fullName %></div>
                    </div>
                    <div class="desc">
                        <div class="space">
                            <div class="blogTitle">
                                <%= b.title.split("_").join(" ") %>
                            </div>
                            <div class="blogDesc">
                                <%- b.desc %>
                            </div>
                        </div>
                        <div class="imgCont">
                            <img src="../images/blogThumbnail/<%= b.blogImage %>" alt="Green">
                        </div>
                    </div>
                    <div class="btnCont">
                        <a href="/profile/<%= b.createdBy.username %>/blogs/<%= b.title %>"><button class="btn">Read More</button></a>
                    </div>
                </div>
            <% }) %>
        </div>
        <section class="follow">
            <div class="followHead">
                <p>You want to follow them</p>
            </div>
            <div class="userCont">
                <% allUser.forEach((userF) => { %>
                    <a href="/profile/<%= userF.username %>">
                        <div class="user">
                            <div class="userImgName">
                                <img src="../images/profileImage/<%= userF.profileImage %>" alt="<%= userF.fullName %>">
                                <p class="username"><%= userF.fullName %></p>
                            </div>
                            <div class="aboutUser">
                                <%= userF.profileDesc %>
                            </div>
                        </div>
                    </a>
                <% }) %> 
            </div>
        </section>
    </main>

</body>

</html>